###############################################################################
# ROS 2 / Colcon
###############################################################################

build/
install/
log/

**/build/
**/install/
**/log/

###############################################################################
# Python
###############################################################################

__pycache__/
*.py[cod]
*$py.class

###############################################################################
# VSCode / IDEs
###############################################################################

.vscode/
**/.vscode/

.idea/
*.code-workspace

###############################################################################
# Linux
###############################################################################

*~
*.swp
*.swo
.#*

###############################################################################
# Compiled libraries
###############################################################################

*.so
*.o
*.a
*.out

###############################################################################
# CMake
###############################################################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

###############################################################################
# Generated documentation
###############################################################################

*.dox
*.wikidoc

###############################################################################
# Eclipse / QtCreator
###############################################################################

.project
.cproject
CMakeLists.txt.user
qtcreator-*
*.user

###############################################################################
# ROS generated files
###############################################################################

msg_gen/
srv_gen/

msg/*Action.msg
msg/*ActionFeedback.msg
msg/*ActionGoal.msg
msg/*ActionResult.msg
msg/*Feedback.msg
msg/*Goal.msg
msg/*Result.msg
msg/_*.py

srv/_*.py

###############################################################################
# Dynamic Reconfigure
###############################################################################

*.cfgc
cfg/cpp/
cfg/*.py

###############################################################################
# Point Clouds
###############################################################################

*.pcd

###############################################################################
# Miscellaneous
###############################################################################

*.db
*.sqlite
*.bak
*.tmp
*.cache

###############################################################################
# Legacy ROS1 (harmless to keep)
###############################################################################

devel/
devel_isolated/
build_isolated/
CATKIN_IGNORE